<h1>{{titulo}}</h1>
<h2>Datos Personales </h2>
    <ul>
        <li>{{nombre}}</li>
        <li>{{apellido}} </li>
        <li>{{edad}}</li>
        <li>{{email}}</li>
        <li>{{telefono}} </li>
    </ul>
<p> Traductor de Google, esto está en está en español<p>